[Unit]
Description=Notify when the battery charge is low
Documentation=file:%h/.config/niri/scripts/battery-notify.sh

[Service]
Type=oneshot
ExecStart=%h/.config/niri/scripts/battery-notify.sh
